body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f2d6a4;
}

#root {
  display: flex;
  justify-content: center;
  padding: 0 16px;
}



.app-container {
  width: 100%;
  max-width: 414px; /* largura máxima do app */
  background-color: white;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 16px;
}

@media (max-width: 768px) {
  .container {
    padding: 8px;
  }

  h1 {
    font-size: 20px;
  }
}

.button {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

.navbar {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}